.intro {
    height: 58.5rem;
    background-color: #FEF5AC;
}

.mountain {
    position: absolute;
    bottom: 0;
    right: 25%;
    width: 50%;
}

.cloud1 {
    position: absolute;
    top: 12%;
    left: 5%;
    width: 10%;
}

.cloud2 {
    position: absolute;
    top: 45%;
    right: 9%;
    width: 10%;
}

.profile {
    width: 50%;
    margin: 25px auto;
}

.profPic {
    max-width: 25%;
    border-radius: 38%;
}

.midDiv {
    margin-top: 25px;
}

.lowDiv {
    background-color: #25316D;
    height: 10rem;
}

.fLink {
    font-size: 1.5rem;
    text-decoration: none;
    margin: 0 1.5rem;
    color: #FEF5AC;
}

.fSpacer {
    height: 2rem;
}

.contactMe {
    margin: 35px auto;
}

.introSpacer {
    height: 15rem;
}

.introH1 {
    color: #25316D;
}

.introH2 {
    font-size: 1.8rem;
    color: #5F6F94;
}

.skillRow1 {
    width: 50%;
    margin: 3rem auto;
    text-align: left;
    line-height: 2;
    font-weight: bold;
}

.skillRow2 {
    width: 50%;
    margin: 3rem auto;
    text-align: left;
    line-height: 2;
    font-weight: bold;
}

.skillImg {
    width: 15%;
    float: left;
    margin: 1.5rem 2rem;
}

.btn {
    -webkit-border-radius: 17;
    -moz-border-radius: 17;
    border-radius: 17px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #25316D;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #FEF5AC;
    color: #000000;
    text-decoration: none;
  }

h1 {
    color: #5F6F94;
    margin: 0px;
    font-size: 5.62rem;
}

h2 {
    color: #25316D;
    font-size: 2.5rem;
    font-weight: normal;
}

h3 {
    color: #5F6F94;
}

a {
    color: #5F6F94;
}

p {
    color: #5F6F94;
}

body {
    margin: 0px;
    background-color: #97D2EC;
    text-align: center;
}

hr {
    width: 36%;
    clear: both;
    border-style: dotted none none none;
    border-width: 15px;
    border-color: #FEF5AC;
    margin: 76px auto;
}
